@import url('https://fonts.googleapis.com/css2?family=Anton&family=IBM+Plex+Serif&family=IM+Fell+DW+Pica:ital@0;1&family=Libre+Baskerville&family=Space+Mono&family=Syne+Mono&display=swap');

html {
  font-size: clamp(100%, 1rem + 2vw, 24px);
}

body {
  max-width: 1200px;
  width: 100%;
  margin: 2em auto;
  /*font-size: 16px;*/
}

.front-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr 20%;
  grid-template-areas:
    "header"
    "main"
    "footer";
  width: 50%;
  margin: auto;
  /*padding-left: 15%;*/
}

.post-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
  /*width: 65%;*/
  width: 50%;
  margin: auto;
}

h1.blog-header,
h1.blog-header a,
h1.blog-header a:link,
h1.blog-header a:visited,
h1.blog-header a:hover {
  font-family: Anton, sans-serif;
  grid-area: "header";
  /*color: #eee;*/
  color: #add8ff;
  font-size: 4rem;
  /*text-shadow: 2px 2px 0px #303 /*, -2px -2px 0px #fff*/
  text-shadow: 2px 2px 0px #420315 /*, -2px -2px 0px #fff*/;
}

h1.blog-header a,
h1.blog-header a:link,
h1.blog-header a:visited,
h1.blog-header a:hover {
    text-decoration: none;
}
.blog-post {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "post-title"
    "post-date"
    "post-main";
  /*justify-self: center;*/
}

ul {
  list-style-type: none;
  grid-area: "main";
  /*justify-self: center;*/
  padding-left: 0;
}

li {
  padding: 0.5em 0;
}

blockquote {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  line-height: 1.6rem;
  padding: 1rem;
  background: #eee;
  width: 100%;
  margin-left: 0px;
}

a.index-link,
a.index-link:visited {
  /*color: #303;*/
  color: #420315;
  text-decoration: none;
  font-family: Helvetica, Anton, "Syne Mono", monospace;
  font-size: 1.25rem;
  text-transform: lowercase;
  padding: 5px 0px;
}

a.index-link:hover {
  /*color: #ccc;*/
  color: #420315;
  padding: 5px 0;
  /*background: #303;*/
  background: #add8ff;
}

time.post-date {
  margin: 0 2.5em 0 0;
  font-family: "Syne Mono", "Space Mono", monospace;
  color: #ccc;
  grid-area: "post-date";
}

/* Post Stuff */
.blog-post-title {
  grid-area: "post-title";
  color: #303;
  font-family: Helvetica, Anton, "Syne Mono", monospace;
  font-size: 1.5rem;
  text-transform: lowercase;
  padding: 0px;
  margin-left: 0px;
}

.blog-post p {
  font-family: "IBM Plex Serif", "Libre Baskerville", Helvetica;
  line-height: 1.75rem;
  font-size: 1.25rem;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

/* Footer Stuffs */
.footer {
  background: #333;
  grid-area: "footer";
  padding: 2em;
  width: 50%;
  justify-self: center;
}
